<%# provide :title, 'Home' %>
<div class="center hero-unit">
  <h1>Makeup Scheduler</h1>
  <p>This application helps to manage lessons cancellations</p>
  <%= link_to "Nofify an absence", new_cancellation_path, class: "btn btn-primary" %>
</div>