<div class="makeup">
  <% if params[:action] == "show"%>
    <p><b>Name: </b><%= @cancellation.name %></p>
  <% end %>
  <p><b>Instrument: </b><%= @cancellation.instrument.capitalize %></p>
  <p><b>Time: </b><%= @cancellation.get_time %></p>
  <p><b>Date: </b><%= @cancellation.get_date %></p>

</div>