<% provide :title, "Available Makeups"%>
<%= stylesheet_link_tag "event_calendar" %>
<%= javascript_include_tag "event_calendar" %>

<div class="col-lg-10 col-lg-offset-1">
  <h1 id="calendar-page">Available Makeups</h1>
    <%= raw(event_calendar) %>
</div>