<% provide :title, "Available Makeups"%>
<%= stylesheet_link_tag "event_calendar" %>
<%= javascript_include_tag "event_calendar" %>

<div class="span12 offset0">
  <h2>Available Makeups</h2>
  <%#= render @cancellations %>
    <%= raw(event_calendar) %>
</div>