<% provide :title, "Available Makeups"%>
<%= stylesheet_link_tag "event_calendar" %>
<%= javascript_include_tag "event_calendar" %>

<div class="col-xs-12">
  <h1>Available Makeups</h1>
    <%= raw(event_calendar) %>
</div>