<% provide(:title, "#{@cancellation.instrument} #{@cancellation.start_at.strftime("%m-%d-%y")}")%>

<div class="col-sm-6 col-sm-offset-3">
  <% if params[:action] == "show"%>
    <h2>Thank you for notifying us your absence!</h2>
  <% end %>
  
  <%= render "cancellation"%>
</div>

<%= javascript_include_tag "cancellations" %>