<% if @cancellation.errors.any? %>
  <div id="error-explanation">
    <div class="alert alert-danger">
      Your submission has <%= pluralize(@cancellation.errors.count, 'error')%>
      <ul>
      <% @cancellation.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  </div>
<% end %>