<% if @cancellation.errors.any? %>
  <div class="error_explanation">
    <div class="alert alert-error">
      Your submission has <%= pluralize(@cancellation.errors.count, 'error')%>
    </div>
      <ul>
        <% @cancellation.errors.full_messages.each do |msg| %>
          <li>* <%= msg %> </li>
        <% end %>
      </ul>
  </div>
<% end %>