<% if @cancellation.errors.any? %>
  <div class="error_explanation">
    <div class="alert alert-error">
      Your submission has <%= pluralize(@cancellation.errors.count, 'error')%>
      <ul>
      <% @cancellation.errors.full_messages.each do |message| %>
        <li> <%= message %> </li>
      <% end %>
      </ul>
    </div>
  </div>
<% end %>