<% if @cancellation.errors.any? %>
  <div class="error_explanation">
    <div class="alert alert-error">
      Your submission has errors<%#= pluralize(@cancellation.errors.count, 'error')%>
      <ul>
        <li> <%= @cancellation.errors.full_messages.first %> </li>
      </ul>
    </div>
  </div>
<% end %>