<%= provide(:title, "Edit Cancellation")%>

<div class="row">
  <div class="col-xs-12 col-sm-4 col-sm-offset-4 col-lg-2 col-lg-offset-5">
      <h1>Edit / Delete Cancellation</h1>

      <%= render "cancellations/cancellation" %>

      <%= render "admin_cancellation" %>
      
  </div>
</div>
