<li>
  <%= link_to user.name, user, class: "user-link" %>
  <% if current_user.has_role?(:admin) && !current_user?(user) %>
    | <%= link_to "delete", admin_user_path(user), method: :delete,
            data: { confirm: "You sure?" }, class: "text-danger" %>
  <% end %>
</li>