<nav class="navbar navbar-fixed-bottom" id="footer">
  <div class="container-fluid">
    <ul class="nav navbar-nav navbar-left">
      <li>Makeup Scheduler by Juan Ortiz</li>
    </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Contact", about_path%></li>
      </ul>
  </div>
</nav>